@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
	margin: 5%;
}

.tab_link {
	bottom: 0;
	position: relative;
}

.grey-bg {
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top right, #8e9eab, #eef2f3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top right, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sunny-bg {
	background: #fceabb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header_date {
	margin: 20px;
}

form input {
	width: 400px;
	margin: 10px;
}

#gif {
	margin: 30px;
}
